<div class="authform">
  <%= form_for(:user, :url=> {:controller => 'user', :action => 'create'}) do |f|%>
    <h3>Sign up</h3>
    
    <form role= "form">
    <div class="form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, :autofocus => true, class: 'form-control', :required=>true %>
    </div>
    <div class="form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, :autofocus => true, class: 'form-control', :required=>true %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :confirm_password, class: 'form-control' %>
    </div>
     <%= f.submit 'Sign up', :class => 'button right' %>
   </form>
  <% end %>
</div>
